@media screen and ( min-width:320px){
  .whatwedo-section{
      display: none;
  }
}
@media screen and ( min-width:1200px){
.whatwedo-section{
  display: block;
}
.whatwedo-list{
  display: flex;
  &>li {
      margin-right: 30px;
}

 &> li:last-child {
  margin-right: 0;
}
&-item-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color:$primary-white-color;
  
  display: flex;
  justify-content: center;
  padding: 27px 0;

  position: absolute;

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  transform: translate(0, -70px)
}
&-item-thumb{
  position: relative;
}
}
}